h1 {
    color: orange;
    font-weight: bold;
    border: 5px black solid;
}
span {
    color: purple;
}
#yellow {
    color: yellow;
}
#green {
    color: green;
}
#red {
    color: red;
}
#px1 {
    font-size: 18px;
}
#px2 {
    font-size: 25px;
}
#px3 {
    font-size: 30px;
}